body{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
 /* background: url(../pictures/back.png) repeat;
  background-size: cover;*/
}

.container {

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

}
header{

  padding: 30px;
  padding-bottom: 20px;
 /* background-color: #efd4cd;*/
  opacity: .9;
}

  .header.fixed{
    height: auto;
    position: fixed;
  }

.header_inner{

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navig{

  display: flex; 
}

.navig li{

  margin-left: 30px;
}

.navig li a {

  color: #006c83;
  font-weight: 700;
  font-size: 16px;
  opacity: .8;
  transition: opacity .2s;
}

.navig li a:hover{

  opacity: 1;
  border-bottom: 3px solid;
  border-radius: 2px;
}

.logo img{
  
  width: 50px;
}

h1 {

color: #006c83;
font-size: 23px;
font-weight: 700;
}

.title{

  display: flex;
}

.title img{

  width: 40px;
  margin-left: 10px;
  transform: rotate(35deg);
}

/*Intro ================*/

section{
  margin: 70px;
}

.intro{
  height: 100vh;
  width: 100%;
}

.intro_l{
  
  position: absolute;
  top: 250px;
  z-index: 10;
  text-align: left;
}

.intro_l h1{


  color: #efd4cd;
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 700;

}

.intro_l h3{

  padding-left: 5px;
  color: #006c83;
  font-size: 30px;
  font-weight: 700;
}

.intro_l h3:nth-child(3){

  margin-bottom: 50px;
}



.intro_l a{

  margin-top: 50px;
  padding: 10px 25px;
  color: #006c83;
  font-weight: 700;
  border: 2px solid #006c83;
  background-color:#f9f8fd;
  border-radius: 10px;
  transition: .2s;
}

.intro_l a:hover{

  color: #f9f8fd;
  background-color: #006c83;
}

.btn_2{

  margin-left: 15px;
}


.intro_r{

  position: relative;
  left: 40%;
}

.intro_r img{

  width: 70%;
}



/*About ================*/


.info{
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 60px;
  grid-template-areas: 
  "text_about pict_about"
  "numbers_about numbers_about";
}

.text_about{
  grid-area: text_about;
}

.pict_about{

  grid-area: pict_about;
}

.numbers_about{

  grid-area: numbers_about;
}

.text_about p {

  text-align: left;
  color: #006c83;
  font-size: 16px;
  font-weight: 400;

}


.numbers_about{

 display: flex;
 justify-content: space-between;
  
}

.numbers{
  display: flex;
  align-items: center;
}

.number h2{

  color: #006c83;
  font-size: 70px;
  font-weight: 700;
}

.number_info{

  color: #006c83;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}


/*About ================*/

.choice{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 160px;
  gap: 20px;
}

.table{

  border-radius: 5px;
  box-shadow: 0px 0px 10px #006c83;
  align-items: center;
  padding: 10px;
  transition: .3s;
}

.table:hover{

  background-color: #c7dadf;
  cursor: pointer;
}

.table:hover:first-child{
  display: block;
}

.table h3{

  margin-top: 10px;
  color: #006c83;
  font-size: 16px;
  font-weight: bold;
}

.table p{

  margin-top: 10px;
  color: #006c83;
  font-size: 16px;
  font-weight: 400;
}

.table img{

  padding-top: 5px;
  padding-left: 15px;
  height: 40px;
}



.services_about{

  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-top: 100px;
}

.services_about .services_info{

  width: 40%;
}

.services_info h3{

  color: #006c83;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.services_info p{

  color: #006c83;
  font-size: 16px;
  font-weight: 400;
}

.vaccination{

  display: none;
}

.surgery{

  display: none;
}

.therapy{

  display: none;
}



table{

  color: #006c83;
  font-size: 16px;
  font-weight: 700;
  border-collapse: collapse;
}

.table_titles{
  background-color: #006c83;
  color: #fff;
}

.table_titles td{

  padding: 10px 15px;
}

tbody{

  font-weight: 400;
}

tbody td{
  border-bottom: 1px solid #006c83;
}

tbody tr td:first-child{

  text-align: left;
  padding: 15px;
  padding-right: 100px;
}

tbody tr td:last-child{

  text-align: center;
}









/*Doctors ================*/

.docs{

  display: flex;
  max-width: 100%;
}


.doctor_choice{

  margin-top: 20px;
}

.doc{

  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  transition: .5s;
  border: 3px solid transparent;
  border-radius: 10px;
}

.doc:hover{

  border: 3px solid #c7dadf;
}

.doc img{

  width: 60px;
}

.doc_des{

 padding-right: 25px;
 padding-left: 10px;
 text-align: left;
}

.doc_des h3{

  color: #006c83;
  font-size: 16px;
  font-weight: 700;
}

.doc_des p{

  color: #006c83;
  font-size: 14px;
  font-weight: 400
}

.doc_img{

  position: absolute;
  width: 350px;
  right: 40%;
  z-index: 10;
}



.burger {

  display: none;
  justify-content: space-between;
  align-items: center;
}


